h1 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
}

/* Section Dashboard */
#dashboard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    width: 90%;
}

/* Sous-titre de la section */
#dashboard h2 {
    font-size: 1.5rem;
    color: red;
    margin-bottom: 15px;
}

/* Liste des candidatures */
#candidatures-list {
    list-style-type: none;
    padding-left: 0;
}

/* Style de chaque mission */
#candidatures-list li {
    background-color: #e9ecef;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;  /* Bordure pour séparer les missions */
    transition: background-color 0.3s ease;
}

/* Effet hover pour les missions */
#candidatures-list li:hover {
    background-color: #d6d8db;
}

/* Ajout d'espacement entre les missions */
#candidatures-list li:not(:last-child) {
    margin-bottom: 15px; /* Espacement entre chaque mission */
}



/* Ajout de mission */





